<!--This will allow us to see an individual post-->
<table>
  <thead>
  <tr>
    <th>title</th>
    <th>content</th>
  </tr>
  </thead>

      <tr>
        <td><%=@post.title %></td>
        <td><%=@post.body %></td>

      </tr>

</table>

<%@post.comments.each do |comment| %>

    <div><%=comment.author %></div>
    <div><%=comment.comment %></div>
<% end %>

<h2>New Comment</h2>

<%= form_for(@comment ,:url => {:action => :new_comment, :controller => :post} ) do |f| %>

 <%= hidden_field_tag :post_id, @post.id %>


    <div class="field">
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>